@charset "utf-8";
/* CSS Document */

#boxWrapper {
  height: 300px;
  width: 100%;
  text-align: center;
}
#section3 {
  background: #10173a none repeat scroll 0 0;
  color: white;
}
.box{
   background-color: black;
  color: white;
  display: inline-block;
  font-size: 30px;
  height: 50px;
  line-height: 48px;
  margin: 0;
  text-align: center;
  width: 50px;
    -webkit-font-smoothing:antialiased;
    -webkit-transform:translateZ(0.1px);
    -moz-transform:translateZ(0.1px);
    -o-transform:translateZ(0.1px);
    -ms-transform:translateZ(0.1px);
    transform:translateZ(0.1px);
}
.absolut {
  left: 26px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 38%;
}


.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes introAnimation {
     0% {
        -webkit-transform: scale(0) rotate(-180deg) ;            
        opacity: 0;            
    }
    
    50% {
        -webkit-transform: scale(1) rotate(0deg) ;   
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(1) rotate(0deg);
    }

    100% {
        -webkit-transform: scale(0.8) rotate(0deg);
    }
}

@-moz-keyframes introAnimation {
    0% {
        -moz-transform: scale(0) rotate(-180deg);         
        opacity: 0;            
    }
    
    50% {
        -moz-transform: scale(1) rotate(0deg);                    
        opacity: 1;
    }

    70%{
         -moz-transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(0.8) rotate(0deg); 
    }
}
@-o-keyframes introAnimation {
    0% {
        -o-transform: scale(0) rotate(-180deg);         
        opacity: 0;            
    }
    
    50% {
        -o-transform: scale(1) rotate(0deg);                    
        opacity: 1;
    }

    70%{
         -o-transform: scale(1) rotate(0deg);
    }

    100% {
        -o-transform: scale(0.8) rotate(0deg); 
    }
}

@keyframes introAnimation {
    00% {
        transform: scale(0) rotate(-180deg);         
        opacity: 0;            
    }
    
    50% {
        transform: scale(1) rotate(0deg);                    
        opacity: 1;
    }

    70%{
         transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(0.8) rotate(0deg); 
    }
}

.introAnimation {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: introAnimation;
    -moz-backface-visibility: visible !important;
    -moz-animation-name: introAnimation;
    -o-backface-visibility: visible !important;
    -o-animation-name: introAnimation;
    backface-visibility: visible !important;
    animation-name: introAnimation;
}

.two {
    -webkit-animation-delay: 0.3s;
       -moz-animation-delay: 0.3s;
        -ms-animation-delay: 0.3s;
         -o-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.three {
    -webkit-animation-delay: 0.6s;
       -moz-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
         -o-animation-delay: 0.6s;
            animation-delay: 0.6s;
}

.four {
    -webkit-animation-delay: 0.9s;
       -moz-animation-delay: 0.9s;
        -ms-animation-delay: 0.9s;
         -o-animation-delay: 0.9s;
            animation-delay: 0.9s;
}

.five {
    -webkit-animation-delay: 1.2s;
       -moz-animation-delay: 1.2s;
        -ms-animation-delay: 1.2s;
         -o-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

.six {
    -webkit-animation-delay: 1.5s;
       -moz-animation-delay: 1.5s;
        -ms-animation-delay: 1.5s;
         -o-animation-delay: 1.5s;
            animation-delay: 1.5s;
}

.seven {
    -webkit-animation-delay: 1.8s;
       -moz-animation-delay: 1.8s;
        -ms-animation-delay: 1.8s;
         -o-animation-delay: 1.8s;
            animation-delay: 1.8s;
}

.eight {
    -webkit-animation-delay: 2.1s;
       -moz-animation-delay: 2.1s;
        -ms-animation-delay: 2.1s;
         -o-animation-delay: 2.1s;
            animation-delay: 2.1s;
}

.nine {
    -webkit-animation-delay: 2.4s;
       -moz-animation-delay: 2.4s;
        -ms-animation-delay: 2.4s;
         -o-animation-delay: 2.4s;
            animation-delay: 2.4s;
}
.ten {
    -webkit-animation-delay: 2.6s;
       -moz-animation-delay: 2.6s;
        -ms-animation-delay: 2.6s;
         -o-animation-delay: 2.6s;
            animation-delay: 2.6s;
}

.eleven{
    -webkit-animation-delay: 2.8s;
       -moz-animation-delay: 2.8s;
        -ms-animation-delay: 2.8s;
         -o-animation-delay: 2.8s;
            animation-delay: 2.8s;
}

/*
.container {
  background: linear-gradient(45deg, #1d0836, #cc50a3);
  width: 670px;
  height: 390px;
  margin: -60px 0 0 -100px;
  box-shadow: 0 0 5px black;
  transform: scale(0.7);
  z-index: 15;
}

.bubble {
  background: rgba(255, 255, 255, 0.1);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  animation: play 7s infinite ease-in;
  box-shadow: 0 0 25px purple inset;
}
.bubble:before {
  background: rgba(255, 255, 255, 0.2);
  content: "";
  width: 60px;
  height: 28px;
  position: absolute;
  margin: 10px 0 0 25px;
  border-radius: 50%;
  transform: rotate(-20deg);
}

@keyframes play {
  0% {
    box-shadow: 0 0 25px purple inset;
    transform: red translateX(0) translateY(0px);
  }
  20% {
    box-shadow: 0 0 25px red inset;
    transform: translateX(300px) translateY(243px);
  }
  30% {
    box-shadow: 0 0 25px pink inset;
    transform: translateX(524px) translateY(140px);
  }
  40% {
    box-shadow: 0 0 25px violet inset;
    transform: translateX(300px) translateY(0);
  }
  50% {
    box-shadow: 0 0 25px purple inset;
    transform: translateX(100px) translateY(243px);
  }
  60% {
    box-shadow: 0 0 25px red inset;
    transform: translateX(0) translateY(180px);
  }
  70% {
    box-shadow: 0 0 25px pink inset;
    transform: translateX(200px) translateY(0);
  }
  80% {
    box-shadow: 0 0 25px violet inset;
    transform: translateX(524px) translateY(170px);
  }
  90% {
    box-shadow: 0 0 25px red inset;
    transform: translateX(300px) translateY(243px);
  }
}
.cont {
  width: 600px;
  margin: -120px 0 0 0;
  -webkit-transform: scale(0.6);
}

.macdisplay {
  background: #444444;
  width: 470px;
  height: 270px;
  border: solid 20px black;
  border-radius: 10px 10px 0 0;
  margin: 94px 0 0 40px;
  z-index: 1;
}
.macdisplay:before {
  background: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.03) 60%, rgba(255, 255, 255, 0) 100%);
  content: "";
  width: 500px;
  height: 310px;
  border-radius: 10px 10px 0 0;
  margin: -20px 0 0 -10px;
  position: absolute;
  z-index: 16;
}
.macdisplay:after {
  background: #dddddd;
  background: linear-gradient(to right, #dddddd 0%, #cccccc 24%, #eeeeee 46%, #dddddd 69%, #cccccc 100%);
  content: "";
  width: 510px;
  height: 40px;
  position: absolute;
  margin: -41px 0 0 -20px;
  border-radius: 0 0 10px 10px;
  z-index: 3;
  box-shadow: 0 1px 2px #444444;
}

.camera {
  background: #222222;
  width: 2px;
  height: 2px;
  position: absolute;
  margin: -300px 0 0 293px;
  border-radius: 3px;
  box-shadow: 0 0 1px white;
}

.foot {
  background: #bcbcbc;
  background: linear-gradient(to bottom, #bcbcbc 0%, #eaeaea 22%, #dddddd 40%, #959595 50%, #a0a0a0 62%, #cccccc 70%, #cccccc 100%);
  width: 170px;
  height: 60px;
  position: absolute;
  margin: 40px 0 0 220px;
  border-radius: 0 0 4px 4px;
}
.foot:before {
  background: #222222;
  content: "";
  width: 60px;
  height: 62px;
  position: absolute;
  margin: 0 0 0 -35px;
  border-radius: 0 0 50px 0;
}
.foot:after {
  background: #222222;
  content: "";
  width: 60px;
  height: 62px;
  position: absolute;
  margin: 0 0 0 145px;
  border-radius: 0 0 0 50px;
}

.apple {
  background: black;
  width: 208px;
  height: 198px;
  position: absolute;
  margin: 210px 0 0 145px;
  border-radius: 36% 36% 41% 41%/42% 42% 75% 75%;
  transform: scale(0.1);
  z-index: 28;
}
.apple:before {
  background: black;
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  margin: -60px 0 0 90px;
  border-radius: 100px 0;
  z-index: 29;
}
.apple:after {
  background: #eeeeee;
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  margin: 28px 0 0 174px;
  border-radius: 50%;
  transform: rotate(-53deg);
  z-index: 4;
  box-shadow: 12px -158px 0 #eeeeee, -198px 3px 0 #eeeeee;
}


*/

@import url(http://fonts.googleapis.com/css?family=Raleway:300);

@import url(http://weloveiconfonts.com/api/?family=zocial);
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.evokelogo {
  width: 154px;
  position: relative;
  top: 22px;
}
#black-area{
width:350px;
height:201px;
background:black;
margin-top:20px; 
border-radius:10px 10px 0px 0px;
}

#screen {
  cursor: pointer;
  display: inline-block;
  height: 177px;
  margin-top: 11px;
  transition: all 0.9s ease 0s;
  width: 327px;
}
#screen:hover{     
 background:#fffffe;
-webkit-box-shadow: 0px 0px 20px rgba(200, 200, 200, 1);
-moz-box-shadow:    0px 0px 20px rgba(200, 200, 200, 1);
box-shadow:         0px 0px 20px rgba(200, 200, 200, 1);
}
/* Note to self, copy here ^ for macbook pro screen! */

#logo{
width:350px;
height:40px;
background: rgb(217, 217, 217);
background: -moz-linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(158, 158, 158) 86%);
background: -webkit-linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(158, 158, 158) 86%);
background: -o-linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(158, 158, 158) 86%);
background: -ms-linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(158, 158, 158) 86%);
background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgb(158, 158, 158) 86%);
 /*#e6e6e6;*/
border-radius: 0px 0px 10px 10px;
color:black;
}
#foot1 {
width:70px;
height:20px;
background: rgb(169, 169, 169);
background: -moz-linear-gradient(90deg, rgb(169, 169, 169) 55%, rgb(223, 223, 223) 100%);
background: -webkit-linear-gradient(90deg, rgb(169, 169, 169) 55%, rgb(223, 223, 223) 100%);
background: -o-linear-gradient(90deg, rgb(169, 169, 169) 55%, rgb(223, 223, 223) 100%);
background: -ms-linear-gradient(90deg, rgb(169, 169, 169) 55%, rgb(223, 223, 223) 100%);
background: linear-gradient(180deg, rgb(169, 169, 169) 55%, rgb(223, 223, 223) 100%);


}

#foot1b{
width:70px;
height:10px;
background: rgb(223, 223, 223);
background: -moz-linear-gradient(90deg, rgb(223, 223, 223) 25%, rgb(169, 169, 169) 59%);
background: -webkit-linear-gradient(90deg, rgb(223, 223, 223) 25%, rgb(169, 169, 169) 59%);
background: -o-linear-gradient(90deg, rgb(223, 223, 223) 25%, rgb(169, 169, 169) 59%);
background: -ms-linear-gradient(90deg, rgb(223, 223, 223) 25%, rgb(169, 169, 169) 59%);
background: linear-gradient(180deg, rgb(223, 223, 223) 25%, rgb(169, 169, 169) 59%);
  
}
#foot2{
width:90px;
height:5px;
background: rgb(169, 169, 169);
background: -moz-linear-gradient(270deg, rgb(169, 169, 169) 44%, rgb(223, 223, 223) 100%);
background: -webkit-linear-gradient(270deg, rgb(169, 169, 169) 44%, rgb(223, 223, 223) 100%);
background: -o-linear-gradient(270deg, rgb(169, 169, 169) 44%, rgb(223, 223, 223) 100%);
background: -ms-linear-gradient(270deg, rgb(169, 169, 169) 44%, rgb(223, 223, 223) 100%);
background: linear-gradient(0deg, rgb(169, 169, 169) 44%, rgb(223, 223, 223) 100%);

} 

.container {
    width: 200px;
    height: 260px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .front {
  background: white;
}
.card .back {
    background: black;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
#section3 {
  min-height: 457px;
}
.cloud-bar {
  padding: 24%;
}